{% extends 'base.html.twig' %}

{% block body %}
<img src="images.jpg">

    <center><h1>A la une</h1></center>

    <div id="mazone"><img src="images.jpg"><br><h2>Titre</h2><br>
    </div>
    <div id="mazone"><img src="images.jpg"><br><h2>Titre</h2><br>
    </div>
    <div id="mazone"><img src="images.jpg"><br><h2>Titre</h2><br>
    </div>
{% endblock %}
